@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.body_parallax01 {
    background-color: #0a2a43;
    min-height: 1500px;
}
.body_parallax01 .section01::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 100;
}
.body_parallax01 .section01 {
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body_parallax01 .section01::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 99;
    mix-blend-mode: color;
}
.body_parallax01 .section01 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.body_parallax01 .text {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}

.body_parallax01 .section01 .road {
    z-index: 2;
}

.body_parallax01 .section02{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 50vw;
    overflow: hidden;    
    text-align: center;
}

.body_parallax01 .section02 p {
    position: relative;
    color: #fff;
    font-size: 3em;
    letter-spacing: 1px;
    z-index: 1;
    margin-top: 30px;
}

@media (max-width: 991px) {
    .body_parallax01 .text {
        font-size: 5em;
    }
    .body_parallax01 .section02 p {
        font-size: 1em;
        letter-spacing: 0.5px;
        margin-top: 10px;
    }
}